body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #17a2b8;
}

.card {
    background-color: #fff;
    border-radius: 10px;
}

input {
    border: 2px solid #17a2b8;
}

#result {
    border: 1px solid #28a745;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9f7ef;
}
